<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tugas_Proyek_Pmob">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDMlapKbDd97Ryh7wshr6WppjFeabp__cA" />

        <!-- MainActivity (Splash Screen) sebagai LAUNCHER -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Deklarasi untuk Login dan Register -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false" />

        <!-- Activity Lainnya -->
        <activity
            android:name=".ui.activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ProfileMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DetailLowonganActivity"
            android:exported="false"
            android:label="Detail Lowongan" />
        <activity
            android:name=".ui.activity.DaftarPekerjaanActivity"
            android:exported="false"
            android:label="Daftar Pekerjaan" />
        <activity
            android:name=".ui.activity.LowonganActivity"
            android:exported="false"
            android:label="Lowongan"/>
        <activity
            android:name=".ui.activity.NotifikasiActivity"
            android:exported="false" />

    </application>

</manifest>
